body {
  background-color: hsl(39, 88%, 48%);
}

h1 {
  text-decoration: underline;
  color: maroon;
  font-style: italic;
}
table,
td {
  border: 2px solid black;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: x-large;
  font-weight: bolder;
}

th {
  color: black;
  border: 2px solid black;
  font-size: x-large;
  text-align: center;
  padding: 5px;
  background-color: hsl(39, 88%, 68%);
}
table {
  width: 75%;
  height: 100%;
}
td {
  padding: 5px;
  background-color: hsl(39, 88%, 58%); 
}
tr:hover td{
  background-color: hsl(39, 90%, 33%); 
}

